{
  "presets": [
    "lightbox"
  ],
  "plugins": [
    "add-module-exports",
    "react-hot-loader/babel"
  ],
  "env": {
    "development": {
      "plugins": [
        "typecheck"
      ]
    }
  }
}
